.scroll-to-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #c4a107; 
  color: #000;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;
}

.scroll-to-top-btn:hover {
  background-color: #d1c410;
  transform: scale(1.1);
}